* {
  margin: 0;
  list-style: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 0;
}

body {
  background-image: linear-gradient(to top, #20073f 0%, #5912af 100%);
  background-color: #20073f;
}

img {
  max-width: 100%;
  display: block;
}

#content {
  padding: 0 10vw 0 10vw;
}

#contactMe {
  width: 10vw;
  height: 35vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.innerContactMe {
  width: 30%;
  height: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactIcon {
  width: 100%;
  margin: auto;
}

.allLogos {
  max-width: 100%;
  max-height: 100%;
}

#welcome {
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8vh;
}

.welcomeRow {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.welcomeContent {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
}

.welcomeContent h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.welcomeContent h1 {
  font-size: 3.5rem;
  font-weight: 500;
}

.heroBox {
  width: 340px;
  height: 350px;
  position: relative;
  z-index: 1;
  margin: auto;
}

.heroBox img {
  position: absolute;
}

.heroChar {
  filter: drop-shadow(0 0 3px white);
  z-index: 1;
  -webkit-animation: vibrate-1 5s linear infinite both;
  animation: vibrate-1 5s linear infinite both;
}

.heroCharBack {
  filter: drop-shadow(0 0 1px white);
}

#welcomeBanner {
  margin-top: auto;
  height: 50px;
}

.banner {
  width: 100%;
  height: 1px;
  background-color: white;
  box-shadow: 0 0 10px 1px white;
}

.bannerContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.techUsed {
  height: 80%;
  margin: auto;
  width: 20%;
}

.techUsedPNG {
  height: 90%;
  margin: auto;
}

#projects {
  margin-top: 10vh;
}

#projects h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.allProjects {
  width: 280px;
  height: 300px;
  margin: 50px 50px 50px 50px;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -1px #494949, 5px 5px 15px 5px rgba(180, 12, 12, 0);
  border: 1px solid rgba(255, 255, 255, 0.37);
}

.cardHeader {
  width: 100%;
  height: 200px;
  background-color: white;
}

.cardImg {
  height: 100%;
  width: 100%;
}

.cardBody {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  text-align: center;
  height: 100px;
}

.cardName {
  width: 100%;
  height: 40px;
  background-color: #20073f;
  border-top: rgba(255, 255, 255, 0.315) 1px solid;
  border-bottom: rgba(255, 255, 255, 0.315) 1px solid;
  display: flex;
}

.cardName p {
  margin: auto;
  font-weight: 600;
}

.cardBtnDiv {
  width: 100%;
  height: 60px;
  background: linear-gradient(-45deg, #20073f, #5210a1, #7118df, #20073f);
  background-size: 800% 400%;
  display: inline-block;
  border: none;
  font-size: 17px;
  font-weight: 400;
  color: white;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
  display: flex;
  flex-direction: row;
}

.cardBtnDiv a {
  width: 50%;
  margin: auto;
  padding: 15px 5px 15px 5px;
}
.cardBtnDiv div {
  height: 100%;
  border: rgba(255, 255, 255, 0.315) 1px solid;
}

.cardBtn {
  padding: 10px;
}

#about {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 10%;
}

#about .innerAbout {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.innerAbout h2 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 0 50px 0;
}

.mobileReverse {
  display: flex;
  flex-direction: row;
}

.aboutText {
  width: 55%;
}

.aboutText h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.aboutText h3 {
  font-size: 1.5rem;
  font-weight: 350;
}

.aboutText p {
  font-size: 1.3rem;
  font-weight: 300;
  white-space: pre-wrap;
}

.aboutPic {
  width: 40%;
  display: flex;
  margin: 0 auto 10% auto;
}

.profilePic {
  width: 55%;
  margin: auto;
}

.profilePic img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: auto;
  filter: drop-shadow(0 0 3px white);
}

.contactButton {
  height: 40px;
  margin: 5% 0;
  display: flex;
  justify-content: center;
}

.aboutText a {
  margin: auto;
  cursor: pointer;
  width: 180px;
  background: linear-gradient(-45deg, #20073f, #5210a1, #7118df, #20073f);
  background-size: 800% 400%;
  padding: 1em 2em;
  border: none;
  font-size: 17px;
  font-weight: 400;
  color: white;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
  padding: 0;
  border-radius: 10px;
  text-align: center;
  line-height: 240%;
}

.textIndent {
  text-align: justify;
}

#contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#contact h2 {
  align-self: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 20px 0 20px 0;
}

#contact h3 {
  align-self: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.contactForm span {
  color: red;
  font-size: large;
}

.formFields {
  padding: 0.375rem;
  font-size: 1rem;
}

.contactForm input {
  height: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  color: black;
}

.contactForm textarea {
  height: 200px;
  border-radius: 10px;
  margin-bottom: 25px;
  resize: none;
  color: black;
}

.submitButton {
  cursor: pointer;
  align-self: center;
  width: 180px;
  height: 40px !important;
  background: linear-gradient(-45deg, #20073f, #5210a1, #7118df, #20073f);
  background-size: 800% 400%;
  border: none;
  font-size: 17px;
  font-weight: 350;
  color: white !important;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

@media only screen and (max-width: 480px) {
  #navBar.open {
    height: 14vh;
  }

  #navBarArea {
    width: 100%;
  }

  .burgerNav {
    visibility: visible;
    z-index: 10;
  }

  .navBarUL {
    position: fixed;
    padding-top: 75px;
    height: 20px;
    width: 100%;
    justify-content: space-around;
    visibility: hidden;
  }

  .navBarUL.open {
    visibility: visible;
  }

  .navBarItems a {
    font-size: 14px;
  }

  .welcomeRow {
    flex-direction: column;
    height: 100%;
  }

  #contactMe {
    position: relative;
    width: 100%;
    height: 5vh;
  }

  .innerContactMe {
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }

  .welcomeContent {
    width: 100%;
  }
  .welcomeContent h1 {
    font-size: 2.5rem;
  }

  .welcomeContent h2 {
    font-size: 2rem;
  }

  .contactIcon {
    height: 60%;
    width: unset;
  }

  .heroBox {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heroBox img {
    width: 250px;
    margin: auto;
  }

  #about {
    height: auto;
    flex-direction: column;
    margin: 15% 0;
  }

  .mobileReverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .innerAbout h2 {
    margin: 0;
  }

  .aboutText {
    width: 100%;
  }

  .aboutPic {
    padding: 10% 0 10% 0;
    margin: 0 auto;
  }

  .profilePic {
    width: auto;
    padding: 6px;
  }
}

@media only screen and (min-width: 2550px) {
  #navBarArea {
    width: 50%;
  }

  #content {
    padding: 0 30%;
  }

  #welcomeBanner {
    height: 6vh;
  }

  #contactMe {
    width: 5vw;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
